<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Account Details</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Account Details</h1>
    <p>ID: <span th:text="${account.id}"></span></p>
    <p>
      Account Holder Name: <span th:text="${account.accountHolderName}"></span>
    </p>
    <p>Balance: <span th:text="${account.balance}"></span></p>
    <a th:href="@{/accounts/{id}/deposit(id=${account.id})}">Deposit</a> |
    <a th:href="@{/accounts/{id}/withdraw(id=${account.id})}">Withdraw</a>
  </body>
</html>
